<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <nav th:fragment="nav" class="navbar-top">
        <div class="navbar-content">
            <span class="navbar-title">🏠 Registrar Localidad</span>
            <div class="navbar-links">
                <a th:href="@{/localidad/listar}" class="nav-link">Ver localidades</a>
                <a th:href="@{/index}" class="nav-link">Inicio</a>
                <a th:href="@{/logout}" class="nav-link">Cerrar Sesión</a>
            </div>
        </div>
    </nav>
</body>
</html>