-- MySQL dump 10.13  Distrib 8.0.35, for Win64 (x86_64)
--
-- Host: localhost    Database: inmobiliaria
-- ------------------------------------------------------
-- Server version	8.0.35

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `agente`
--

DROP TABLE IF EXISTS `agente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `agente` (
  `dniAgente` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(45) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nomApe` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `telefono` varchar(45) COLLATE utf8mb4_unicode_ci NOT NULL,
  `matricula` varchar(45) COLLATE utf8mb4_unicode_ci NOT NULL,
  `usuario` varchar(45) COLLATE utf8mb4_unicode_ci NOT NULL,
  `clave` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`dniAgente`),
  UNIQUE KEY `matricula` (`matricula`),
  UNIQUE KEY `usuario` (`usuario`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `agente`
--

LOCK TABLES `agente` WRITE;
/*!40000 ALTER TABLE `agente` DISABLE KEYS */;
INSERT INTO `agente` VALUES ('10203040','prueba@mail.com','John Doe','3414330100','12345678','JohnDoe','1234'),('12345678','prueba@mail.com','Agente Prueba','123456789','MAT123','prueba','$2a$10$uQwQwQwQwQwQwQwQwQwQwOQwQwQwQwQwQwQwQwQwQwQwQwQwQwQwQwQwQwQwQwQw'),('41282583','gabriel@example.com','Perlin Gabriel','3436433099','MAT0001','gabrielp','1234');
/*!40000 ALTER TABLE `agente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `agentes_inmobiliarios`
--

DROP TABLE IF EXISTS `agentes_inmobiliarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `agentes_inmobiliarios` (
  `dni_agente` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `clave` varchar(45) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(45) COLLATE utf8mb4_unicode_ci NOT NULL,
  `matricula` varchar(45) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nom_ape` varchar(45) COLLATE utf8mb4_unicode_ci NOT NULL,
  `telefono` varchar(45) COLLATE utf8mb4_unicode_ci NOT NULL,
  `usuario` varchar(45) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`dni_agente`),
  UNIQUE KEY `UKkvfcm26kiq4wlv684x4grt8tm` (`email`),
  UNIQUE KEY `UKde5f8pn8svvmmlhy2v4b0h6wc` (`matricula`),
  UNIQUE KEY `UKd59g87x91pgur6k5te8i33qyq` (`telefono`),
  UNIQUE KEY `UK7ssljuc1jw5v5xjjq2l7clkn3` (`usuario`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `agentes_inmobiliarios`
--

LOCK TABLES `agentes_inmobiliarios` WRITE;
/*!40000 ALTER TABLE `agentes_inmobiliarios` DISABLE KEYS */;
INSERT INTO `agentes_inmobiliarios` VALUES ('41282584','1234','gdequelli@gmail.com','12345678','Gabriel Dequelli','3436433000','gdequelli');
/*!40000 ALTER TABLE `agentes_inmobiliarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alquileres`
--

DROP TABLE IF EXISTS `alquileres`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alquileres` (
  `id_alquiler` int NOT NULL AUTO_INCREMENT,
  `fecha_egreso` date NOT NULL,
  `fecha_ingreso` date NOT NULL,
  `fecha_recision` date DEFAULT NULL,
  `valor_inicial` double NOT NULL,
  `agente_id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `aumento_id` int DEFAULT NULL,
  `inquilino_id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `propiedad_id` int NOT NULL,
  PRIMARY KEY (`id_alquiler`),
  UNIQUE KEY `UK782319sjxnlxdupvp4a3a52pd` (`fecha_egreso`),
  UNIQUE KEY `UKppipwmk209tahwa522euihtml` (`fecha_ingreso`),
  UNIQUE KEY `UK1cy1161dsse026bg4hrcgs3e5` (`valor_inicial`),
  KEY `FKec9tdobgwjoetlb0vbcamp0fe` (`agente_id`),
  KEY `FKt273ujmq0wvw3wmh9pysfip6m` (`aumento_id`),
  KEY `FKe84i4q6yxd85hhmnmhkexp4ee` (`inquilino_id`),
  KEY `FKljhbco212xy88c0u5h3ov1f4q` (`propiedad_id`),
  CONSTRAINT `FKe84i4q6yxd85hhmnmhkexp4ee` FOREIGN KEY (`inquilino_id`) REFERENCES `inquilinos` (`dni_inquilino`),
  CONSTRAINT `FKec9tdobgwjoetlb0vbcamp0fe` FOREIGN KEY (`agente_id`) REFERENCES `agentes_inmobiliarios` (`dni_agente`),
  CONSTRAINT `FKljhbco212xy88c0u5h3ov1f4q` FOREIGN KEY (`propiedad_id`) REFERENCES `propiedades` (`id_propiedad`),
  CONSTRAINT `FKt273ujmq0wvw3wmh9pysfip6m` FOREIGN KEY (`aumento_id`) REFERENCES `aumentos` (`id_aumento`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alquileres`
--

LOCK TABLES `alquileres` WRITE;
/*!40000 ALTER TABLE `alquileres` DISABLE KEYS */;
/*!40000 ALTER TABLE `alquileres` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `aumentos`
--

DROP TABLE IF EXISTS `aumentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `aumentos` (
  `id_aumento` int NOT NULL AUTO_INCREMENT,
  `periodo` int NOT NULL,
  `porcentaje_aumento` double NOT NULL,
  PRIMARY KEY (`id_aumento`),
  UNIQUE KEY `UK7cb3q1t74t4cskbwa6mrmkxiy` (`periodo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aumentos`
--

LOCK TABLES `aumentos` WRITE;
/*!40000 ALTER TABLE `aumentos` DISABLE KEYS */;
/*!40000 ALTER TABLE `aumentos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categoria`
--

DROP TABLE IF EXISTS `categoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categoria` (
  `id_categoria` int NOT NULL AUTO_INCREMENT,
  `descripcion` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id_categoria`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categoria`
--

LOCK TABLES `categoria` WRITE;
/*!40000 ALTER TABLE `categoria` DISABLE KEYS */;
/*!40000 ALTER TABLE `categoria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documento`
--

DROP TABLE IF EXISTS `documento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `documento` (
  `id_documento` int NOT NULL AUTO_INCREMENT,
  `contenido` longblob,
  `descripcion` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `enlace` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_alquiler` int NOT NULL,
  PRIMARY KEY (`id_documento`),
  KEY `FKnjhmwyn3nnyusicde5m1fvmjc` (`id_alquiler`),
  CONSTRAINT `FKnjhmwyn3nnyusicde5m1fvmjc` FOREIGN KEY (`id_alquiler`) REFERENCES `alquileres` (`id_alquiler`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documento`
--

LOCK TABLES `documento` WRITE;
/*!40000 ALTER TABLE `documento` DISABLE KEYS */;
/*!40000 ALTER TABLE `documento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `formas_pago`
--

DROP TABLE IF EXISTS `formas_pago`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `formas_pago` (
  `id_forma_pago` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(45) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id_forma_pago`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `formas_pago`
--

LOCK TABLES `formas_pago` WRITE;
/*!40000 ALTER TABLE `formas_pago` DISABLE KEYS */;
/*!40000 ALTER TABLE `formas_pago` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inquilinos`
--

DROP TABLE IF EXISTS `inquilinos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inquilinos` (
  `dni_inquilino` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nom_ape` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telefono` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`dni_inquilino`),
  UNIQUE KEY `UKt3wl8yutnbr2r0jtvs0yk3jl8` (`email`),
  UNIQUE KEY `UKblueiklph7y237ukxjqua5e0b` (`telefono`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inquilinos`
--

LOCK TABLES `inquilinos` WRITE;
/*!40000 ALTER TABLE `inquilinos` DISABLE KEYS */;
/*!40000 ALTER TABLE `inquilinos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `localidades`
--

DROP TABLE IF EXISTS `localidades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `localidades` (
  `id_localidad` int NOT NULL AUTO_INCREMENT,
  `cod_postal` int NOT NULL,
  `nombre` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `provincia_id` int DEFAULT NULL,
  PRIMARY KEY (`id_localidad`),
  KEY `FKillq62a1iddds5960f75pejdh` (`provincia_id`),
  CONSTRAINT `FKillq62a1iddds5960f75pejdh` FOREIGN KEY (`provincia_id`) REFERENCES `provincia` (`id_provincia`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `localidades`
--

LOCK TABLES `localidades` WRITE;
/*!40000 ALTER TABLE `localidades` DISABLE KEYS */;
/*!40000 ALTER TABLE `localidades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pagos`
--

DROP TABLE IF EXISTS `pagos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pagos` (
  `id_pago` int NOT NULL AUTO_INCREMENT,
  `fecha_pago` date DEFAULT NULL,
  `fecha_limite` date NOT NULL,
  `interes_mora` double NOT NULL,
  `alquiler_id` int NOT NULL,
  `id_forma_pago` int NOT NULL,
  PRIMARY KEY (`id_pago`),
  KEY `FK4f53q2xw2d0r2ov42w104w8cr` (`alquiler_id`),
  KEY `FKpbwu1yqcavcjpmefx18sbds7s` (`id_forma_pago`),
  CONSTRAINT `FK4f53q2xw2d0r2ov42w104w8cr` FOREIGN KEY (`alquiler_id`) REFERENCES `alquileres` (`id_alquiler`),
  CONSTRAINT `FKpbwu1yqcavcjpmefx18sbds7s` FOREIGN KEY (`id_forma_pago`) REFERENCES `formas_pago` (`id_forma_pago`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pagos`
--

LOCK TABLES `pagos` WRITE;
/*!40000 ALTER TABLE `pagos` DISABLE KEYS */;
/*!40000 ALTER TABLE `pagos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `precios`
--

DROP TABLE IF EXISTS `precios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `precios` (
  `id_precio` int NOT NULL AUTO_INCREMENT,
  `anio_desde` date NOT NULL,
  `mes_desde` date NOT NULL,
  `monto_precio` double NOT NULL,
  `alquiler_id` int NOT NULL,
  PRIMARY KEY (`id_precio`),
  UNIQUE KEY `UK56mivjuhaq9dfguq8o9qqfstg` (`anio_desde`),
  UNIQUE KEY `UK8sfnqdfgnhbaojx45vgiip6u` (`mes_desde`),
  UNIQUE KEY `UKjfrb7822hvo4eveb11fqr4re2` (`alquiler_id`),
  CONSTRAINT `FKdk87isw4lfrpo1egcpixtk301` FOREIGN KEY (`alquiler_id`) REFERENCES `alquileres` (`id_alquiler`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `precios`
--

LOCK TABLES `precios` WRITE;
/*!40000 ALTER TABLE `precios` DISABLE KEYS */;
/*!40000 ALTER TABLE `precios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `propiedades`
--

DROP TABLE IF EXISTS `propiedades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `propiedades` (
  `id_propiedad` int NOT NULL AUTO_INCREMENT,
  `cant_ambientes` int NOT NULL,
  `contenido` longblob,
  `medidas` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `ubicacion` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `categoria_id` int NOT NULL,
  `localidad_id` int NOT NULL,
  PRIMARY KEY (`id_propiedad`),
  KEY `FK1nhcrigs11e4yfy45a4iynuai` (`categoria_id`),
  KEY `FK8iy9bnqeke6g3htbldnaxyx` (`localidad_id`),
  CONSTRAINT `FK1nhcrigs11e4yfy45a4iynuai` FOREIGN KEY (`categoria_id`) REFERENCES `categoria` (`id_categoria`),
  CONSTRAINT `FK8iy9bnqeke6g3htbldnaxyx` FOREIGN KEY (`localidad_id`) REFERENCES `localidades` (`id_localidad`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `propiedades`
--

LOCK TABLES `propiedades` WRITE;
/*!40000 ALTER TABLE `propiedades` DISABLE KEYS */;
/*!40000 ALTER TABLE `propiedades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `provincia`
--

DROP TABLE IF EXISTS `provincia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `provincia` (
  `id_provincia` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id_provincia`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `provincia`
--

LOCK TABLES `provincia` WRITE;
/*!40000 ALTER TABLE `provincia` DISABLE KEYS */;
/*!40000 ALTER TABLE `provincia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `visitas`
--

DROP TABLE IF EXISTS `visitas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `visitas` (
  `nro_visita` int unsigned NOT NULL AUTO_INCREMENT,
  `email` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fechahora` datetime NOT NULL,
  `nombre` varchar(45) COLLATE utf8mb4_unicode_ci NOT NULL,
  `telefono` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`nro_visita`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `visitas`
--

LOCK TABLES `visitas` WRITE;
/*!40000 ALTER TABLE `visitas` DISABLE KEYS */;
/*!40000 ALTER TABLE `visitas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `visitas_propiedades`
--

DROP TABLE IF EXISTS `visitas_propiedades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `visitas_propiedades` (
  `id_visita_prop` int NOT NULL AUTO_INCREMENT,
  `id_propiedad` int NOT NULL,
  `id_visita` int unsigned NOT NULL,
  PRIMARY KEY (`id_visita_prop`),
  KEY `FK2028190dltip63q8cgaiuoixv` (`id_propiedad`),
  KEY `FKqao7efbmm3woptpdnrsvm0eam` (`id_visita`),
  CONSTRAINT `FK2028190dltip63q8cgaiuoixv` FOREIGN KEY (`id_propiedad`) REFERENCES `propiedades` (`id_propiedad`),
  CONSTRAINT `FKqao7efbmm3woptpdnrsvm0eam` FOREIGN KEY (`id_visita`) REFERENCES `visitas` (`nro_visita`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `visitas_propiedades`
--

LOCK TABLES `visitas_propiedades` WRITE;
/*!40000 ALTER TABLE `visitas_propiedades` DISABLE KEYS */;
/*!40000 ALTER TABLE `visitas_propiedades` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-09-22 23:41:40
