<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/registrarAlquiler.css}">
    <link rel="stylesheet" href="/css/navAlquiler.css">
    <title>Registrar Alquiler</title>
</head>
<body>
    <div th:replace="~{fragmentos/navAlquiler :: nav}"></div>
    <div class="form-container">
        <div th:replace="~{fragmentos/mensaje :: div}"></div>
        <h2 class="titulo">Completar Datos:</h2>
        <form class="formulario" th:action="@{/alquiler/registro}" method="POST">
            
            <h5 class="">Fecha de Ingreso:</h5> 
            <input type="date" class="input-text" name="fechaIngreso" placeholder="Fecha Ingreso">
        
            <h5 class="">Fecha de Egreso:</h5> 
            <input type="date" class="input-text" name="fechaEgreso" placeholder="Fecha Egreso">
        
            <h5 class="">Valor Inicial:</h5> 
            <input type="number" class="input-text" name="valorInicial" placeholder="Valor Inicial">

            <button type="submit" class="btn-azul">Registrar Alquiler</button>

        </form>

        <section class="volver-section">
            <a th:href="@{/documento/registrar}" class="volver-link">Volver</a>
        </section>
    </div>
    
</body>
</html>

