<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Alquiler</title>
</head>
<body>
    <div class="">
        <div th:replace="~{fragmentos/mensaje :: div}"></div>
        <form class="formulario" th:action="@{/alquiler/registro}" method="POST">
            
            <div class="">
                <h5 class="">Fecha de Ingreso:</h5> 
                <input type="date" class="" name="fechaIngreso" placeholder="Fecha Ingreso">
            </div>
            <div class="">
                <h5 class="">Fecha de Egreso:</h5> 
                <input type="date" class="" name="fechaEgreso" placeholder="Fecha Egreso">
            </div>
            <div class="">
                <h5 class="">Valor Inicial:</h5> 
                <input type="number" class="" name="valorInicial" placeholder="Valor Inicial">
            </div>

            <button type="submit">Registrar Alquiler</button>

        </form>

        <section class="">
            <div class="">
                <div class="">
                    <a th:href="@{/documento/registrar}" class="">Volver</a>
                </div>
            </div>
        </section>
    </div>

    
</body>
</html>

