<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Alquiler</title>
</head>
<body>
    <div class="">
    
    <form th:action="@{/documento/registrar}" method="GET">
        <!-- <input type="hidden" name="email" th:value="${email}" /> -->

        <div th:each="propiedad : ${propVisitadas}" style="border: 1px solid #ccc; margin-bottom: 1rem; padding: 1rem;">
            <label>
                <input type="radio" name="idPropiedad" th:value="${propiedad.idPropiedad}" required />
                <strong>ID:</strong> <span th:text="${propiedad.idPropiedad}"></span><br>
                <strong>Ubicación:</strong> <span th:text="${propiedad.ubicacion}"></span><br>
                <!-- <img th:src="@{${propiedad.contenido}}" alt="Imagen propiedad" style="max-width: 200px;" /> -->
            </label>
        </div>

        <button type="submit">Cargar Documentos</button>
    </form>

        <section class="">
            <div class="">
                <div class="">
                    <a th:href="@{/alquiler/registrar}" class="">Volver</a>
                </div>
            </div>
        </section>
    </div>

    
</body>
</html>